doctype html 5
html(ng-app="app")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height" )
        meta(name="viewport", content="initial-scale=1, user-scalable=no")
        title Disordered site
        //- link(rel="icon" href="/images/favicon4.png" sizes="128x128")

    body
        div.viewport(ui-view="", ng-cloak)
